:root {
  --color-primary: rgba(0, 0, 0, 0.87);
  --color-secondary: rgba(0, 0, 0, 0.54);
  --color-accent: rgb(141, 198, 65);
  --background_main: #edeff2;
  --background_header: #ffffff;
  --shadow: rgba(0, 0, 0, 0.16);
  --divider: rgba(0, 0, 0, 0.12);
}
