// @import '../../styles/colors';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  width: 100%;
  padding: 0 16px;
  background: var(--background_header);
  border-bottom: 1px solid var(--divider);
  box-shadow: 0 4px 4px 0 var(--shadow), 0 0 4px 0 var(--shadow);
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  @media (min-width: 1366px) {
    padding: 0;
  }
}

.logo {
  & span {
    display: block;
    background: url(../../p24.svg) no-repeat center / contain;
    height: 48px;
    width: 48px;
  }
}
.container {
  width: 100%;
}
